<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.3.34" targetFramework="net40" />
  <package id="MathNet.Numerics" version="2.1.2" />
  <package id="ZedGraph" version="5.1.6" targetFramework="net40" />
  <package id="zlib.net" version="1.0.3.0" />
</packages>